[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "colorthief>=0.2.1",
    "flask>=3.1.2",
    "flask-cors>=6.0.1",
    "pillow>=12.0.0",
]
